@{
    ViewBag.Title = "Home Page";
}

<main>

    <h2>
        Task:
    </h2>
    <ul>
        <li>
            Create an MVC Project for a demo of OutputCache Filter. The output of the Controller action should be cached for 5 minutes, and the action should return the Current date time as a string. So, after implementing the filter, the same date-time will be displayed for an interval of 5 minutes.
        </li>
    </ul>

    <dl>
        <dt>Notes</dt>
        <dd>
            <ul>
                <li>
                    <u>Currently the caching location is set at client side.</u> So refreshing from browser, will generate new view due to browser sends request for new view complusory by setting <code>cache-control: max-age = 0</code>. So if we <a href="@Url.Action("/")" >navigate</a> through app then only cached view is returned.
                </li>
                <li>
                    If we set caching location to server then no matter how many request are made only cached view is sent up to particular time.
                </li>
            </ul>
        </dd>
    </dl>

    <hr />

    <div class="fs-5">
        View Generated At: @ViewBag.Time
    </div>

</main>