@model IEnumerable<Test1.Models.Entities.Employee>

@{
    ViewBag.Title = "Home Page";
}

<main>

    <h2>
        Task:
    </h2>

    <ol>
        <li>Create an MVC Project that implements windows authentication. Create tables in the database as required.</li>
    </ol>

    <hr />

    @{Html.RenderPartial("~/Views/Employee/_EmployeeListPartial.cshtml", Model);}
</main>