@{
    ViewBag.Title = "Home Page";
}

<main>

    <dl>
        <dt>Notes</dt>
        <dd>
            <ul>
                <li>
                    Please use menus given in navigation bar to check for particular Action Result.
                </li>
            </ul>
        </dd>
    </dl>

</main>