<div class="modal fade" id="studentDeleteModal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure that you want to delete this entry?
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href=""
                    id="deleteStudentBtn"
                    class="btn btn-danger"
                    title="Delete Entry">
                    Confirm
                </a>
            </div>
        </div>
    </div>
</div>