
@{
    ViewBag.Title = "Home Page";
}

<main>
    <p>
        In this project you can go to URL: <code>/employee-details/EnterAnyNameHere</code> and you will see the name printed on the view.
    </p>
</main>

