
@{
    ViewBag.Title = "Home Page";
}

<main>

    <h2>
        Task:
    </h2>
    <ul>
        <li>
            Create an MVC Page such that the string value passed from the URL should be displayed on the web page.        
        </li>
        <li>
            For example, if the URL is http://localhost:61465/Employee/Mark, then “Mark” should be displayed on the web page where Employee is the controller Name
        </li>
        <li>
            Use Route to create an appropriate route for the same.
        </li>
    </ul>

    <dl>
        <dt>Notes</dt>
        <dd>
            <ul>
                <li>
                    In this project you can go to URL: @Html.ActionLink("/Employee/EnterAnyNameHere", "EnterAnyNameHere", "Employee", null, null) and you can replace the <code>EnterAnyNameHere</code> with any <u>name</u> and you will see the name printed on the view.
                </li>
            </ul>
        </dd>
    </dl>
</main>

