@{
    ViewBag.Title = "Home Page";
}

@ViewBag.Name

<main>
    <h1>Welcome</h1>

    <hr/>

    <dl>
        <dt>Note</dt>
        <dd>
            <ol>
                <li>This app is divided according to tests given in practical.</li>
                <li>All three test are separated in different actions and views.</li>
                <li>Use menus given in navbar to see particular test.</li>
            </ol>
        </dd>
    </dl>
</main>