
@{
    ViewBag.Title = "Test1";
}

<h2>Test 3</h2>

<hr/>

<ol>
    <li>Display a simple “Hello World” string in a web browser using an MVC project</li>

    <li>With the help of Unit tests, assert that the string is displayed correctly in the web browser.</li>
</ol>

<hr/>

<p class="fs-1">
    @ViewBag.Message
</p>
